<header class="container w-100 fixed-top py-2 d-flex justify-content-between align-items-center">
    <span>
        <a routerLink="/">Email</a>
    </span>
    <nav>
        <ul class="d-flex my-0">
            <ng-container *ngIf="!(isSignedIn$ | async)">
                <li>
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">LogIn</a>
                </li>
                <li>
                    <a routerLink="/signup" routerLinkActive="active">SignUp</a>
                </li>
            </ng-container>

            <ng-container *ngIf="isSignedIn$ | async">
            <li>
                <a routerLink="/inbox" routerLinkActive="active">Inbox</a>
            </li>
            <li>
                <a routerLink="/logout" routerLinkActive="active">LogOut</a>
            </li>
            </ng-container>
        </ul>
    </nav>
</header>